<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Formulário</title>
</head>

<body>
    <div class="containerformulario">
        <div class="form-img">
            <img src="/1920x1080-pets-rotina-960x540.jpg" alt="">
        </div>
        <div class="formulariocadastro">
            <form action="#">
                <div class="form-header">
                    <div class="title">
                        <h1>Cadastre-se Pet</h1>
                    </div>
        
                </div>

                <div class="inputformulario">
                    <div class="input-form">
                        <label for="firstname">Nome do responsável</label>
                        <input id="firstname" type="text" name="firstname" placeholder="Digite seu nome" required>
                    </div>

                    
                        <div class="input-form">
                            <label for="firstname">Raça</label>
                            <input id="firstname" type="text" name="firstname" placeholder="Digite a raça do seu pet" required>
                        </div>

                            <div class="input-form">
                                <label for="firstname">Nascimento do pet</label>
                                <input type="date" name="data" id="">
                            </div>

                </div>

                <div class="">
                    <div class="">
                        <h6>Tamanho</h6>
                    </div>
                  
                </div>
                   <div class="sexo">
                      <input type="radio" id="genero" name="gender">
                      <label for="femnino" class="genero">Fêmea</label>
                   </div>
                      <div class="sexo">
                       <input type="radio" id="genero" name="gender">
                       <label for="femnino" class="genero">Macho</label>
                     </div> 


                  
                <div class="enviavolta">
                    <button><a href="#">Envia</a> </button>
                    <button><a href="#">Voltar</a> </button>
                </div>
            </form>
        </div>
    </div>
</body>

</html>