<nav class="navbar">
    <a href="#" class="logo">
        <img src="./static/home/adoPet__1_-removebg-preview.png" alt="" >
    </a>
    <div class="hamburger">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </div>
    <ul class="links" type="none">
        <a href="{{url_for('home')}}">
            <li class="link">Home</li>
        </a>
        <a href="#sobre">
            <li class="link" >Sobre nós</li>
        </a>
        <a href="{{url_for('cadPet')}}">
            <li class="link contact">Cadastrar Pet</li>
        </a>
        <a href="{{url_for('encontrados')}}">
            <li class="link contact">Encontre</li>
        </a>
    </ul>
</nav>