{% extends 'base.html' %}
{% block body %}
    <main class="cards">
        <section class="card shop">
            <div class="icon">
                <img src="static/animais/cachorro4.png" alt="Clique Aqui">
            </div>
            <h2>Disponíveis para adoção</h2>
            <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
            <button id="button2" href=""><a href="perdido_achad.telas/encont.html">Clique Aqui</a></button>
        </section>
        <section class="card contact">
            <div class="icon">
                <img src="static/animais/cachorro3.png" alt="Clique Aqui">
            </div>
            <h2>Pets adotados</h2>
            <span>Veja os animais que já.</span>
            <button id="button1"><a href="perdido_achad.telas/perdido.html">Clique Aqui</a></button>
        </section>
        <section class="card contact">
            <div class="icon">
                <img src="static/animais/cachorro3.png" alt="Clique Aqui">
            </div>
            <h2>Pets Perdidos</h2>
            <span>Veja os animais perdidos.</span>
            <button id="button1"><a href="perdido_achad.telas/perdido.html">Clique Aqui</a></button>
        </section>
        <section class="card shop">
            <div class="icon">
                <img src="static/animais/cachorro4.png" alt="Clique Aqui">
            </div>
            <h2>Pets Encontrados</h2>
            <span>Veja os animais que ja foram encontrados e voltaram para seus donos.</span>
            <button id="button2" href=""><a href="perdido_achad.telas/encont.html">Clique Aqui</a></button>
        </section>
    </main>
{% endblock %}