{% extends 'base.html' %}
{% block body %}
    <main class="cards">

        <section class="card contact">
            <div class="icon">
                <img src="static/home/gato.adotar.jpg" alt="Clique Aqui">
            </div>
            <h2>Disponíveis para adoção</h2>
            <span>Aqui você encontra animaizinhos que buscam um lar ❤</span>
            <button id="button2" href=""><a href="perdido_achad.telas/encont.html">Clique Aqui</a></button>
        </section>
        <section class="card shop">
            <div class="icon">
                <img src="static/home/cachorro.preto.jpg" alt="Clique Aqui">
            </div>
            <h2>Pets adotados</h2>
            <span>Veja os animais que estão felizes com um novo lar 😍</span>
            <button id="button1"><a href="perdido_achad.telas/perdido.html">Clique Aqui</a></button>
        </section>


        <section class="card contact">
            <div class="icon">
                <img src="static/home/gato.adotar.jpg" alt="Clique Aqui">
            </div>
            <h2>Pets Perdidos</h2>
            <span>Veja os animais que se perderam de seus humanos 💔</span>
            <button id="button1"><a href="perdido_achad.telas/perdido.html">Clique Aqui</a></button>
        </section>
        <section class="card shop">
            <div class="icon">
                <img src="static/home/cachorro.preto.jpg"alt="Clique Aqui">
            </div>
            <h2>Pets Encontrados</h2>
            <span>Veja os animais que estão felizes por reencontrarem seus humanos 🤩</span>
            <button id="button1"><a href="perdido_achad.telas/perdido.html">Clique Aqui</a></button>
        </section>

    </main>
{% endblock %}