* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;

}

body {
    background-color: #eee;
    height: 100vh;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    color: #000000;

    font-size: 20px;
}

a{
    text-decoration: inherit;
    color: #eee;
}
/* navbar */

main{
    background: #F7B1AB;
    border-radius: 25px 25px 25px 25px;
    box-shadow: 20px 10px 20px -2px  #96193f9a;
}

main.cards {
    display: flex;
    padding: 32px;
}

main.cards section.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: white;
    padding: 1rem 1.5rem;
    border-radius: 8px;
    max-height: 468px;
    margin-left: 32px;
}

main.cards section.card:first-child {
    margin-left: 0;
}

main.cards section.card .icon {
    width: 100%;
    height: 100%;
}

main.cards section.card img {
    width: 70%;
}

main.cards section.card h2 {
    font-size: 100%;
    margin: 16px 0;
}

main.cards section.card span {
    font-weight: 300;
    max-width: 240px;
    font-size: 80%;
    margin-bottom: 16px;
}

main.cards section.card button {
    padding: 0.5rem 1rem;
    text-transform: uppercase; 
    border-radius: 32px;
    border: 0;
    cursor: pointer;
    font-size: 65%;
    font-weight: 500;
    color: #fff;
    margin-bottom: 16px 0;
}

img{
    transition: all 0.2s linear;
}

img:hover{
    transform: scale(1.08); 
}

main.cards section.card.contact button {
    background: linear-gradient(to right, #f3b251, #f3b251);    
    transition: all 0.2s linear;
    }

main.cards section.card.shop button {
    background: linear-gradient(to right, #f3b251, #f3b251);    
    transition: all 0.2s linear;
    }


#button1:hover{
    transform: scale(1.04);
    background: linear-gradient(to right, #d68e21, #d68e21); 
}

#button2:hover{
    transform: scale(1.04);
    background: linear-gradient(to right, #d68e21, #d68e21); 
}
/* main.cards section.card.about button {
    background: linear-gradient(to right, #96193e, #96193e);
    } */

main.cards section.card.contact {
    box-shadow: 20px 20px 50px -30px  #96193e;
    }
main.cards section.card.shop {
    box-shadow: 20px 20px 50px -30px #96193e;
    }
/* main.cards section.card.about {
    box-shadow: 20px 20px 50px -30px  #96193e;
    } */

@media screen and (max-width: 720px) {
    main.cards {
        flex-direction: column;
    }

    main.cards section.card {
        margin-left: 0;
        margin-bottom: 32px;
    }

    main.cards section.card:last-child {
        margin-bottom: 0;
    }

    main.cards section.card button {
        font-size: 70%;
    }

}