/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Raleway:wght@400;500;600&display=swap');

/* Geral */
body{
    font-family: 'Raleway', sans-serif;
    padding: 0;
    margin: 0;
    color: #eee;
    background-color:  #eee;
    
}

.page{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 100%;
    height: 100vh;

}

/* Login */
.formLogin{
    display: flex;
    flex-direction: column;
    background-color: #F7B1AB;
    border-radius: 7px;
    padding: 40px;
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.151);
    gap: 0.5px;
}

.formLogin h1{
    padding: 0;
    margin: 0;
    font-weight: 1000;
    font-size: 5em;
    font-family: 'DM Serif Display', serif;
    color: #F9E48D;
    text-align: center;
}

.formLogin p {
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    color: #eee;
    margin-bottom: 25px;
    text-align: center;
}

.formLogin input {
    padding: 15px;
    font-size: 14px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    margin-top: 5px;
    border-radius: 30px;
    transition: all linear 160ms;
    outline: none;
}


.formLogin input:focus {
    border: 1px solid #aac2fd;
}

.formLogin label {
    font-size: 15px;
    font-weight: 600;
}

.formLogin a {
    display: inline-block;
    margin-bottom: 20px;
    font-size: 13px;
    color: #555;
    transition: all linear 160ms;
}

.formLogin a:hover {
    color: #e6edff;
}

a{
    text-align: center;
}
/* botão */
.btn {
    background-color: #bdcef8;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    border: none !important;
    transition: all linear 160ms;
    cursor: pointer;
    margin: 0 !important;

}

.btn:hover {
    transform: scale(1.05);
    background-color: #aac2fd;

}

/* Redes sociais */
#social_media {
    display: flex;
    justify-content: space-evenly;
}

#social_media img {
    width: 40px;
}

#social_media img:hover {
    transform: scale(1.2);
}
/* barra de navegação */